$bg: #0a1a0c;
$primary: #22c55e;
$secondary: #1a3320; // borders
$main-text: #e8f5e9;
$muted-text: #61986a;
$card-bg: #111e13;
$main-red: #ef4444;

// form
$field-bg: #162719;
$btn: #22c55eb8;

// border style
$border: 1px solid $secondary;
