@use "../variables/colors" as c;

@mixin input-font {
  font-size: 0.9em;
  color: c.$primary;

  &::placeholder {
    color: c.$muted-text;
  }

  &:focus {
    outline: none;
  }
}

@mixin category-icon($size: "large") {
  color: c.$primary;
  align-self: center;
  @if $size == "small" {
    font-size: 0.6em;
  } @else if $size == "large" {
    font-size: 1em;
  }
}
