@use "../../../sass/variables/colors" as c;
@use "../../../sass/mixins/mediaQueries" as *;

.btn {
  background-color: c.$btn;
  font-size: 1em;
  border: none;
  color: c.$card-bg;
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1;

  @include large-laptop {
    font-size: 1.4em;
  }
}
