@use "../../sass/variables/colors" as c;
@use "../../sass/mixins/mixins" as m;
@use "../../sass/mixins/mediaQueries" as *;

.todo {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 1em 0em;
  gap: 1.2em;

  &:first-child {
    padding-top: 0em;
  }
  &:last-child {
    padding-bottom: 0em;
  }
  &:not(:last-child) {
    border-bottom: c.$border;
  }

  .editIcons {
    display: flex;
    gap: 1em;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.2s ease-in-out,
      visibilty 0.2s ease-in-out;
  }
  &:hover,
  &:focus-within {
    .editIcons {
      opacity: 1;
      visibility: visible;
    }
  }

  @include large-laptop {
    padding: 1.2em 0;
    gap: 1em;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  @include large-laptop {
    gap: 0.5em;
  }
}

.heading {
  font-size: 0.9em;

  &_checked {
    color: c.$muted-text;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
  }

  @include large-laptop {
    font-size: 1.3em;
  }
}

.category {
  display: flex;
  gap: 0.2em;
  color: c.$primary;
}

.categoryText {
  font-size: 0.7em;
  color: c.$primary;
  @include large-laptop {
    font-size: 1em;
  }
}

.categoryIcon {
  @include m.category-icon("small");
}

.editTodo {
  grid-row: 2;
  grid-column: 1 / 4;
}
