@use "./sass/variables/colors" as c;
@use "./sass/mixins/mediaQueries" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: c.$main-text;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 1.5em 1em;
  gap: 1em;

  @include large-phone {
    padding: 2em;
    gap: 1.25em;
  }

  @include laptop {
    display: grid;
    grid-template-columns: 350px minmax(0, 800px);
    grid-template-rows: auto auto 1fr;
    gap: 1.5em 2em;
    padding: 0em 2em 0em 0em;
  }
}

.section {
  display: flex;
  background-color: c.$card-bg;
  border: c.$border;
  padding: 0.8em 1em;
  border-radius: 16px;
}

@include laptop {
  .sidebarBackground {
    background-color: c.$card-bg;
    border-right: c.$border;
    grid-column: 1;
    grid-row: 1 / -1;
    height: 100vh;
    z-index: -1;
  }

  .sidebarHeader {
    grid-column: 1;
    grid-row: 1;
    padding: 1em 2em;
    align-self: flex-end;
  }

  .categoryForm {
    grid-column: 1;
    grid-row: 2;
    padding: 0 2em;
  }

  .header {
    grid-column: 2;
    grid-row: 1;
    padding-top: 2em;
  }

  .todoForm {
    grid-column: 2;
    grid-row: 2;
  }

  .todoList {
    grid-column: 2;
    grid-row: 3;
  }
}
