@use "../../sass/variables/colors" as c;
@use "../../sass/mixins/mediaQueries" as *;

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.heading {
  &__large {
    font-size: 1.5em;
  }
  &__small {
    font-size: 1em;
    font-weight: normal;
    color: c.$muted-text;
  }

  @include large-laptop {
    &__large {
      font-size: 1.8em;
    }
    &__small {
      font-size: 1.3em;
    }
  }
}
