@use "../../../sass/variables/colors" as c;
@use "../../../sass/mixins/mediaQueries" as *;

.btn {
  background-color: c.$btn;
  font-size: 1em;
  border: none;
  color: c.$card-bg;
  height: 100%;

  border-radius: 20px;
  padding: 0 10px;

  &.rounded {
    border-radius: 50%;
    padding: 0;
    aspect-ratio: 1;
  }

  @include large-laptop {
    font-size: 1.4em;
  }
}
